:root {
  --header-height: 60px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.form-container {
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  border: 1px solid #c7c7c7;
  border-radius: 8px;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#exit-btn-container {
  cursor: pointer;
  color: #f95f5f;
  display: flex;
  align-items: center;
  gap: 2px;
  overflow: hidden;
}

#exit-btn-container > * {
  transform: translateX(200%);
  transition: 1s;
}

#exit-btn-container:hover > * {
  transform: translateX(0);
}
